* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #fff;
  --body: #341f97;
  --button: #009432;
  --app: #006266;
  --box: rgba(0, 0, 0, 0.5);
}

body {
  background: var(--body);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background: var(--app);
  width: 400px;
  border-radius: 2.5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#break-container {
  background: var(--box);
  width: 49%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

#session-container {
  background: var(--box);
  width: 49%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

#timer-container {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.label {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
}

.button {
  background: var(--button);
  width: 48%;
  margin: 0 1%;
  border: none;
  padding: 8px;
  font-size: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button:hover {
  background: rgba(0, 148, 50, 0.7);
}

.button:active {
  background: rgba(0, 148, 50, 0.8);
}

.length {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  display: block;
}

.timer-box {
  background: var(--box);
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.5);
}

#timer-label {
  width: 100%;
  text-align: center;
  display: block;
}

#time-left {
  width: 100%;
  font-size: 35px;
  padding: 10px;
  text-align: center;
  display: block;
}
